<!--header section-->
<div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">Music Tracks App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
      </div>
    <div class="container">
 <main role="main" class="pb-3">


  <div class="container">
    <div class="row">
      <div class="col-sm-12">

  <!--search input section-->

    <div class="row">
      <div class="col-sm-12 pt-3 pb-3 bg-info">
        <nav class="navbar navbar-light justify-content-between">
          <a class="navbar-brand">Tracks List</a>
          <form class="form-inline">
            <div class="input-group">
              <span>Search by Genre:&nbsp;&nbsp;</span>
              <input type="text" class="form-control" name="searchTerm" placeholder="Search" aria-label="Search"
                aria-describedby="basic-addon1"  [(ngModel)] = "searchTerm.name">
              <div class="input-group-prepend">
                <button class="input-group-text" id="basic-addon1" (click)="runFilter()"><i class="bi bi-search"></i></button>
              </div>
            </div>
          </form>
        </nav>
      </div>
    </div>

    <!--tracks items section-->
    <div class="row" *ngIf="musicTracks?.length">
      <div *ngFor="let item of musicTracks; let i = index" class="col-md-3">
        <div  class="card cursor-pointer m-1 p-0">
        <div class="card-header p-2"><small class="card-title text-muted float-right">{{i+1}}. {{item?.title | titlecase}}</small>
        </div>
        <div class="card-body">
          <span class="block">
          <span class="text-muted">Artist: &nbsp;&nbsp;</span><span>{{item?.artist | titlecase}} ({{item?.yearReleased}})</span>
        </span>
          <span class="block"><span class="pt-2 text-muted">Genre: &nbsp;&nbsp;</span> <span class="text-primary">{{item.genre}}</span>
        </span>
        </div>
      </div>
    </div>
  </div>

   <div *ngIf="!musicTracks?.length" class="text-center  pt-5 pb-5 ">
     <span class="text-danger">Whoops... no tracks found, please check the api connection.</span>
   </div>

</div>
</div>
</div>

</main>
</div>

<footer class="border-top footer fixed-bottom text-muted pt-3 pb-3">
    <div class="container">
            &copy; 2022 - Music Tracks App - <a>Home</a>
     </div>
</footer>





